{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "proseWrap": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "bracketSameLine": true,

    "plugins": ["prettier-plugin-tailwindcss"]
}
